
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    
<head>

<title>BLOGSİTE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {
            background-color: white;
        }

        form {
            font-family: Arial;
            color: black;
        }

        input[type=text], input[type=password] {
            border: 1px solid grey;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

    </style>
</head>
<body class="w3-content" style="max-width:1300px">

<!-- First Grid: Logo & About -->
<div class="w3-row">
  <div class="w3-half w3-black w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1>BENİM LOGO</h1>
    </div>
    <div class="w3-padding-64">
      <a href="#" class="w3-button w3-black w3-block w3-hover-blue-grey w3-padding-16">Ana sayfa</a>
      <a href="#work" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">İşlerim</a>
      <a href="#work" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Özgeçmişim</a>
      <a href="#contact" class="w3-button w3-black w3-block w3-hover-brown w3-padding-16">İletişim</a>
      <a href="/Login/login" class="button">Login</a>
    </div>
  </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:700px">
    <div class="w3-padding-64 w3-center">
      <h1>BENİM HAKKINDA</h1>
      <img src="/img/IMG_20230102_232714.jpg" class="w3-margin w3-circle" alt="Person" style="width:40%">
      <div class="w3-left-align w3-padding-large">
        <p>Ben Adil Ismail ve 5 yıldır profesyonel seslendirme yorumcusu olarak çalışıyorum.
  Farklı alanlarda çalışan çok sayıda şirket ve kuruma seslendirme hizmeti verdim ve bu alanda çalışarak çok fazla deneyim kazandım.</p>
      </div>
    </div>
  </div>
</div>


<!-- Second Grid: Work & Resume -->
<div class="w3-row">
  <div class="w3-half w3-light-grey w3-center" style="min-height:600px" id="work">
  
      <div class="w3-padding-64">

      <h2>Benim işim</h2>
      <p>Yaptığım projelerden bazıları.</p>
    </div>
     <div class="w3-row">
      <div class="w3-half">
        <img src="/img/images.jpg"  width="290" height="200">
      </div>
      <div class="w3-half">
        <img src="/img/pexels-pixabay-164928.jpg" width="280" height="200">
      </div>
       <audio controls>
  <source src="~/ses/2ي_mixdown.wav" type="audio/vnd.wave" />
  <source src="~/ses/2ي_mixdown.wav" type="audio/mpeg">
</audio >
  <audio controls>
  <source src="~/ses/y2mate.com - تاريخ نادر 2222022 بعد مئتي عام من الان.mp3" type="audio/mp3" />
  <source src="~/ses/y2mate.com - تاريخ نادر 2222022 بعد مئتي عام من الان.mp3" type="audio/mpeg">
</audio >
    </div>
   
 <p>Sadece beni ara.</p>
    </div> 
  <div class="w3-half w3-indigo w3-container" style="min-height:600px">
    <div class="w3-padding-64 w3-center">
      <h2>Özgeçmiş</h2>
      <p>CV'mden bir taslak</p>
      <div class="w3-container w3-responsive">
        <table class="w3-table">
          <tr>
            <th>Year</th>
            <th>Title</th>
          </tr>
          <tr class="w3-white">
            <td>2012-2016</td>
            <td>şirket kurdum </td>
          </tr>
          <tr>
            <td>2018-2019</td>
            <td>İlk projey yaptım</td
          </tr>
          <tr class="w3-white">
            <td>2015-2016</td>
            <td>Öğrenmeye başladim </td
          </tr>
        </table>
      </div>
    </div>
  </div>

  </div>
<!-- Third Grid: Swing By & Contact -->
<div class="w3-row" id="contact">
  <div class="w3-half w3-dark-grey w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1>iletişim hesaplarım  </h1>
    </div>
    <div class="w3-padding-64">
  <p>profesyonel ilişkiler<a href="https://www.linkedin.com/in/adil-ismail-47166020a/" target="_blank">LİNKİDİN</a></p>
  <p>Açık Kaynak Mağazası<a href="https://github.com/" target="_blank">GİTHUB</a></p>
      <p>Turkiye, Karman</p>
      <p>055554447118</p>
      <p>adilism@gmail.com</p>
    </div>
  </div>
  <div class="w3-half w3-teal w3-container" style="height:700px">
    <div class="w3-padding-64 w3-padding-large">
      <h1>İletişim Bilgileri</h1>
      <p class="w3-opacity">iletişimde kalmak için</p>
      <form class="w3-container w3-card w3-padding-32 w3-white" action="/action_page.php" target="_blank">
        <div class="w3-section">
          <label>İsim</label>
          <input class="w3-input" style="width:100%;" type="text" required name="Name">
        </div>
        <div class="w3-section">
          <label>Email</label>
          <input class="w3-input" style="width:100%;" type="text" required name="Email">
        </div>
        <div class="w3-section">
          <label>Mesaj</label>
          <input class="w3-input" style="width:100%;" type="text" required name="Message">
        </div>
        <button type="submit" class="w3-button w3-teal w3-right">Gönder</button>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-black w3-padding-16">
  <p>SES KAYDİ YAPMAK İÇİN <a href="https://soundeals.com/user/Vogcfsy75138" target="_blank">Benimle bir anlaşma yap</a></p>
</footer>
 <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>